.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px; /* Adjust gap between columns */
  margin-bottom: 16px;
}

.preview-card {
  background-color: #f0f0f0;
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
}

mat-form-field {
  display: block;
}

.mat-dialog-content {
  max-height: calc(100vh - 100px); /* Set max height relative to the viewport */
  overflow-y: auto; /* Add vertical scrolling if content exceeds max height */
}

.mat-dialog-container {
  padding: 0; /* Optional: Adjust padding as needed */
  max-height: none; /* Ensure the container can grow based on content */
}
