<div class="app-container">
    <header>
        <h1>Business Card - ProgressSoft Assignment</h1>

        <!-- Filter Button -->
        <button mat-button color="primary" [matMenuTriggerFor]="filterMenu" #menuTrigger="matMenuTrigger">
            <mat-icon>filter_list</mat-icon> Filter
        </button>

        <!-- Filter Menu -->
        <mat-menu #filterMenu="matMenu">
            <div (click)="$event.stopPropagation()">
                <div class="px-3 py-2">
                    <div class="text-dark font-weight-bold">Filter Options</div>
                </div>

                <mat-divider></mat-divider>

                <div class="px-3 py-2">
                    <!-- Name Input Field -->
                    <mat-form-field appearance="fill" class="w-100 mb-3">
                        <mat-label>Name</mat-label>
                        <input matInput [(ngModel)]="name">
                    </mat-form-field>

                    <!-- Email Input Field -->
                    <mat-form-field appearance="fill" class="w-100 mb-3">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="email">
                    </mat-form-field>
                </div>

                <div class="d-flex justify-content-between">
                    <button mat-button color="primary" (click)="onApplyFiltersClick(menuTrigger)">Apply</button>
                    <button mat-button color="primary" (click)="onReset(menuTrigger)">Clear</button>
                </div>
            </div>
        </mat-menu>


        <!-- Create New Card Button -->
        <button mat-raised-button color="primary" (click)="openCreateCardDialog()">
            Create New Card
        </button>
    </header>

    <main>
        <app-card-list [filters]="filters"></app-card-list>
    </main>
</div>
